// General --------
$Color-white: #fff;
$position-relative: relative;
$position-absolute: absolute;
$cursor: pointer;
$none: none;
$border-radius: 50%;
$black-color: rgb(0, 0, 0);
//-----------------


// Colors------------------------
$header-background-color: #4267B2;
$border-color: #29487D;
$background-color: #f5f6f7;
$Color-white: #fff
//-------------------------------

